html
    -var googleAPI = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAsMtx2cG26hGNhLqnFuajZHvsSlfI_dac&callback=googleMap.init"
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        link(href="/bootstrap/css/mdb.min.css" rel="stylesheet")
        link(href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans+Condensed:700,300,300italic|Open+Sans:400,300italic,400italic,600,600italic,700,700italic,800,800italic|PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css')
        link(href="/css/InfoWindow.css" rel="stylesheet" type="text/css")
        title Product mapping
    body
        header
            block header
        block content
        script(type="text/javascript" src="/bootstrap/js/jquery-3.4.1.min.js")
        script(type="text/javascript" src="/bootstrap/js/popper.min.js")
        script(type="text/javascript" src="/bootstrap/js/bootstrap.min.js")
        script(type="text/javascript" src="/bootstrap/js/mdb.min.js")
        script(src="https://kit.fontawesome.com/4bf29efb44.js")
        script(src="/reload/reload.js")
        script(src="/js/googleMaps.js")
        script(src="/js/dom.js")
        doctype html
        script(aysnc defer src=googleAPI)
        block script