extends index
block script
    script.
        $( document ).ready(function() {
            $('#resultLst').empty();
            if (#{GPS}) {
                dom.filterItemsGPS(!{JSON.stringify(items)});
            } else  {
                $.each(!{JSON.stringify(items)}, function(i, item) {
                    // showing the results in the result list
                    dom.displayItems(item);
                });
                googleMap.itemsMarkers(!{JSON.stringify(items)});
            }
        });